SESSION_SECRET="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"
MONGO_SRV="mongodb+srv://awhipp:ZR843F0LCBIr8QI6@playlistgpt.d36stoy.mongodb.net/?retryWrites=true&w=majority"

Copy the values from this .env.example file and paste them into the .env file.
Replace the values with your own and remove this comment.
