.modal-Container {
  justify-content: center;
  display: flex;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: var(--translucent);
  z-index: 1;
}

.modal-Content {
  align-self: center;
  background: var(--white);
  padding: 0.5%;
  width: 70%;
  border-radius: 12px;
  z-index: 1;
}

.modal-button {
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
  border-radius: var(--s);
  font-family: "Poppins";
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  border: 1px solid transparent;
  margin: 4px;
  transition-duration: 0.3s;
}

.modal-button:hover {
  color: var(--primary);
}

.song-button {
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
  border-radius: var(--s);
  font-family: "Poppins";
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  border: 1px solid var(--black);
  margin: 4px;
  transition-duration: 0.3s;
}

.song-button:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.song-button-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  column-gap: 8px;
}

.song-button-scroll::-webkit-scrollbar {
  display: none;
}

.song-button-container {
  height: fit-content;
  width: auto;
  position: relative;
}

.minus:hover {
  color: var(--primary);
}
.col-30 {
  float: left;
  width: 30%;
  margin-top: 6px;
}

.col-70 {
  float: left;
  width: 50%;
  margin-top: 6px;
}
