.navBar-container {
  background-color: var(--black);
  -webkit-text-fill-color: var(--white);
  padding-left: 0%;
  display: flex;
  align-items: center;
  height: 75px;
}

.profile-icon {
  max-height: 50px;
  height: auto;
  border-radius: 50%;
  transition-duration: 0.3s;
}

.profile-icon:hover {
  border: 2px solid var(--primary);
}

.profile-icon-container {
  margin-right: auto;
  padding: 1%;
}

.logout-button {
  background-color: var(--black);
  color: var(--white);
  opacity: 0.6;
  border: none;
  font-size: var(--m);
  font-family: "Poppins";
  transition-duration: 0.3s;
}

.logout-button:hover {
  opacity: 1;
}

.logout-button-container {
  margin-left: auto;
  padding: 1%;
}
